/* Class names prefixes */
$prefix: 'gjs-' !default;

/* Colors / Theme */
$primaryColor: #221f29;
$secondaryColor: #8e87af;
$tertiaryColor: #d6c914;
$quaternaryColor: #b14cdf;
$classColor: #622a6d;
$leftMenuColor: #1e1621f2;
$breadcrumbsColor1: #4c7bdf;
$breadcrumbsColor2: #4d57b3;
$breadcrumbsHoverColor: #2a4f6d;

/* Fonts */
$mainFont: Helvetica,
Arial,
serif,
sans-serif !default;
$fontPath: '../fonts' !default;
$fontName: 'main-fonts' !default;
$fontSize: 0.7rem !default;
$fontSizeS: 0.75rem !default;
$fontV: 20 !default; //random(1000)