/* Class names prefixes */
$prefix: 'gjs-' !default;

/* Colors / Theme */
$primaryColor: #312d3a;
$secondaryColor: #8e87af;
$tertiaryColor: #d6c914;
$quaternaryColor: #b14cdf;
$leftMenuColor: #352b38f3;