/* Class names prefixes */
$prefix: 'gjs-' !default;

/* Colors / Theme */
$primaryColor: #221f29;
$secondaryColor: #8e87af;
$tertiaryColor: #d6c914;
$quaternaryColor: #b14cdf;
$classColor: #622a6d;
$leftMenuColor: #2d2630f3;