@import "variables.scss";

.#{$prefix} {

  @each $cnum,
  $ccol in (one, $primaryColor),
  (two, $secondaryColor),
  (three, $tertiaryColor),
  (four, $quaternaryColor) {
    &#{$cnum} {
      &-bg {
        background-color: $ccol;
      }

      &-color {
        color: $ccol;

        &-h:hover {
          color: $ccol;
        }
      }
    }
  }
}

body,
html {
  height: 100%;
  margin: 0;
}

.gjs-three-bg {
  background-color: $classColor;
}

/*
    .icon-add-comp::before, .icon-comp100::before,.icon-comp50::before,.icon-comp30::before,.icon-rm::before{ content: '';}
        .icon-add-comp {
          background: url("./img/icon-sq-a.png") no-repeat center;
        }
        .icon-comp100 {
          background: url("./img/icon-sq-1.png") no-repeat center;
        }
        .icon-comp50 {
          background: url("./img/icon-sq-2.png") no-repeat center;
        }
        .icon-comp30 {
          background: url("./img/icon-sq-3.png") no-repeat center;
        }
        .icon-rm {
          background: url("./img/icon-sq-r.png") no-repeat center;
        }*/

.icons-flex {
  background-size: 70% 65% !important;
  height: 15px;
  width: 17px;
  opacity: 0.9;
}

.icon-dir-row {
  background: url("./img/flex-dir-row.png") no-repeat center;
}

.icon-dir-row-rev {
  background: url("./img/flex-dir-row-rev.png") no-repeat center;
}

.icon-dir-col {
  background: url("./img/flex-dir-col.png") no-repeat center;
}

.icon-dir-col-rev {
  background: url("./img/flex-dir-col-rev.png") no-repeat center;
}

.icon-just-start {
  background: url("./img/flex-just-start.png") no-repeat center;
}

.icon-just-end {
  background: url("./img/flex-just-end.png") no-repeat center;
}

.icon-just-sp-bet {
  background: url("./img/flex-just-sp-bet.png") no-repeat center;
}

.icon-just-sp-ar {
  background: url("./img/flex-just-sp-ar.png") no-repeat center;
}

.icon-just-sp-cent {
  background: url("./img/flex-just-sp-cent.png") no-repeat center;
}

.icon-al-start {
  background: url("./img/flex-al-start.png") no-repeat center;
}

.icon-al-end {
  background: url("./img/flex-al-end.png") no-repeat center;
}

.icon-al-str {
  background: url("./img/flex-al-str.png") no-repeat center;
}

.icon-al-center {
  background: url("./img/flex-al-center.png") no-repeat center;
}

.icon-disp-block {
  background: url("./img/disp-block.png") no-repeat center;
}

.icon-disp-inline-block {
  background: url("./img/disp-inline-block.png") no-repeat center;
}

.icon-disp-inline {
  background: url("./img/disp-inline.png") no-repeat center;
}

.icon-disp-flex {
  background: url("./img/disp-flex.png") no-repeat center;
}

.icon-ease {
  background: url("./img/ease.png") no-repeat center;
}

.icon-ease-in {
  background: url("./img/ease-in.png") no-repeat center;
}

.icon-ease-out {
  background: url("./img/ease-out.png") no-repeat center;
}

.icon-ease-in-out {
  background: url("./img/ease-in-out.png") no-repeat center;
}

.icon-linear {
  background: url("./img/linear.png") no-repeat center;
}

.left-menu-input {
  margin: 3px 5px 10px 5px;
}

.left-menu-label {
  margin-left: 8px;
  font-size: 14px;
}

.save-modal-input {
  margin: 5px 5px 10px 5px;
}

.save-modal-label {
  margin-left: 8px;
  font-size: 16px;
}

.save-modal-preview {
  margin: 5px 5px 10px 5px;
  height: 450px;
  overflow-y: auto;
}

.save-modal-btn {
  margin: 10px 5px 0px 5px;
  float: right;
}

.asset-menu-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: #352b38ce;
}

.font-aqua {
  color: #b6e2e5;
}

.font-blue {
  color: #c9a1d1;
}

.font-pale-green {
  color: #d1afc7;
}

.font-green {
  color: #9ee7a8;
}

.font-red {
  color: #ca6868;
}

.font-orange {
  color: #cf9269;
}

.gjs-radio-item-label {
  cursor: pointer;
  display: block;
  padding: 5px;
}

.gjs-sm-sector .gjs-sm-gradient {
  width: 100%;
  box-sizing: content-box;
}

.gjs-sm-sectors {
  overflow-x: hidden;
}

.gjs-pn-devices-c {
  visibility: hidden;
}

#left-menu {
  position: absolute;
  left: -42px;
  top: 40px;
  background-color: $primaryColor;
  width: 40px;
  height: 94%;
  transition: all 0.5s ease;
  box-shadow: 0 2px 3px 1px #161616, 0 6px 0px 0px #403444;
  -webkit-box-shadow: 0 2px 3px 1px #161616, 0 6px 0px 0px #403444;
  z-index: 20;
}

#target {
  position: absolute;
  left: 0px;
  top: 45px;
  color: $secondaryColor;
  background-color: #2d26301f;
  border: 1px solid $secondaryColor;
  border-radius: 3px;
  padding: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 5;

  i {
    margin: 2px 2.5px 3px 7px;
  }
}

#target:hover {
  background-color: $primaryColor;
}

/*#left-menu-expanded {
      position: absolute;
      left: 40px;
      top: 40px;
      background-color: rgb(66, 66, 66);
      width: 200px;
      height: 657px;
      z-index: 10;
    }*/

.left-menu-expanded {
  position: absolute;
  left: -202px;
  top: 40px;
  width: 200px;
  height: 94.18938%;
  color: $secondaryColor;
  background-color: $leftMenuColor;
  box-shadow: 0 2px 3px 1px #161616, 0 6px 0px 0px #403444f3;
  -webkit-box-shadow: 0 2px 3px 1px #161616, 0 6px 0px 0px #403444f3;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 10;
  transition: all 0.5s ease;
  /*-webkit-animation: slide-in 0.5s forwards;
      -webkit-animation-delay: 2s;
      animation: slide-in 0.5s forwards;
      animation-delay: 2s;*/
}

.left-menu-expanded div {
  margin-right: 1px;
}

.left-menu-expanded div#settings {
  margin-right: 5px;
}

.left-menu-expanded .gjs-radio-item .gjs-radio-item-label {
  background-color: $leftMenuColor;
}

.left-menu-expanded .gjs-radio-item input:checked+.gjs-radio-item-label {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25) inset;
  color: $quaternaryColor;
  border-bottom: 1.5px solid $quaternaryColor;
}

.left-menu-expanded::-webkit-scrollbar {
  width: 8px;
}

.left-menu-expanded::-webkit-scrollbar-track {
  background: #3f3e3e88
}

.left-menu-expanded::-webkit-scrollbar-thumb {
  background: rgb(109, 109, 109);
}

.left-menu-expanded::-webkit-scrollbar-thumb:hover {
  background: rgb(43, 43, 43);
}

.left-menu-icons {
  margin: 0;
  width: 40px;
  padding: 10px;
  color: $secondaryColor;
}

.left-menu-icons:hover {
  color: $quaternaryColor;
}

.left-menu-icons.gjs-pn-btn.gjs-pn-active {
  color: $quaternaryColor;
  border-left: 2px solid $quaternaryColor;
}

.left.gjs-am-preview-cont {
  cursor: move;
  width: 70%;
}

.left.gjs-am-meta {
  cursor: pointer;
  width: 25%;
}

#left-menu-abs {
  margin-bottom: 15px;
  padding-top: 7px;
  padding-left: 10px;
  width: 100%;
  position: absolute;
  bottom: 5px;
  left: 0px;
  color: $secondaryColor;
}

#left-menu-abs:hover {
  color: $quaternaryColor;
}

#left-menu-abs.gjs-pn-btn.gjs-pn-active {
  color: $quaternaryColor;
}

#left-menu-trans {
  margin-bottom: 50px;
  padding-top: 7px;
  padding-left: 10px;
  width: 100%;
  position: absolute;
  bottom: 5px;
  left: 0px;
  color: $secondaryColor;
}

#left-menu-trans:hover {
  color: $quaternaryColor;
}

#left-menu-trans.gjs-pn-btn.gjs-pn-active {
  color: $quaternaryColor;
}

#left-menu-cls {
  margin-bottom: 0px;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 100%;
  min-height: 10px;
  max-height: 20px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: $secondaryColor;
  background-color: #2b232e;
}

#left-menu-cls:hover {
  color: $quaternaryColor;
}

.menu-header {
  padding-left: 5px;
  color: $secondaryColor;
  font-size: 16px;
  font-weight: bold;
}

#breadcrumbs {
  position: absolute;
  left: 0px;
  bottom: 0px;
  display: inline-block;
  z-index: 1;
  margin: 0;
  padding: 0;

  .icon {
    font-size: 14px;
  }

  li {
    float: left;
    list-style-type: none;

    a {
      color: #fff;
      display: block;
      background: $quaternaryColor;
      text-decoration: none;
      position: relative;
      height: 26px;
      line-height: 26px;
      padding: 0 10px 0 5px;
      text-align: center;
      margin-right: 23px;
    }

    &:nth-child(even) {
      a {
        background-color: $classColor;

        &:before {
          border-color: $classColor;
          border-left-color: transparent;
        }

        &:after {
          border-left-color: $classColor;
        }
      }
    }

    &:first-child {
      a {
        padding-left: 15px;
        /*@include border-radius(4px 0 0 4px);*/
        border-radius: 4px 0 0 4px;

        &:before {
          border: none;
        }
      }
    }

    &:last-child {
      a {
        padding-right: 15px;
        /*@include border-radius(0 4px 4px 0);*/
        border-radius: 0 4px 4px 0;

        &:after {
          border: none;
        }
      }
    }

    a {

      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 0;
        border: 0 solid $quaternaryColor;
        border-width: 13px 10px;
        width: 0;
        height: 0;
      }

      &:before {
        left: -20px;
        border-left-color: transparent;
      }

      &:after {
        left: 100%;
        border-color: transparent;
        border-left-color: $quaternaryColor;
      }

      &:hover {
        background-color: $secondaryColor;

        &:before {
          border-color: $secondaryColor;
          border-left-color: transparent;
        }

        &:after {
          border-left-color: $secondaryColor;
        }
      }

      &:active {
        background-color: $classColor;

        &:before {
          border-color: $classColor;
          border-left-color: transparent;
        }

        &:after {
          border-left-color: $classColor;
        }
      }
    }
  }
}

.gjs-title.page {
  padding: 9px 10px 9px 30px;
  background-color: $leftMenuColor;
  border-bottom: 1px solid rgba(31, 31, 31, 0.25);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: $secondaryColor;
}

.gjs-title.page:hover {
  padding: 9px 10px 9px 30px;
  background-color: #5c505f56;
  border-bottom: 1px solid rgba(31, 31, 31, 0.25);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: $quaternaryColor;
}

.gjs-title.project:hover {
  background-color: #5c505f56;
  color: $quaternaryColor;
}

.gjs-title.page.page-open {
  padding: 9px 10px 9px 30px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25) inset;
  border-bottom: 1px solid rgba(31, 31, 31, 0.25);
  border-left: 3px solid $quaternaryColor;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: $quaternaryColor;
}

.page-icon {
  margin-right: 5px;
  font-size: 15px;
}

.close {
  color: $secondaryColor;
  font-size: 15px;
  float: right;
}

.gjs-field.gjs-field-class_select select {
  background-color: #28222b;
}

#extra-tab .gjs-block {
  width: 100%;
  padding: 1px;
  max-height: 120px;
}

.gjs-thumb {
  padding: 0px 0px 2px 0px;
  max-height: 110px;
}

.gjs-thumb img {
  width: 100%;
  height: 100%;
  max-height: 110px;
  object-fit: contain;
}

.gjs-pn-devices {
  margin: 0;
  position: absolute;
  left: 38%;
}

.gjs-pn-panel.gjs-pn-views {
  padding: 0;
  background-color: #29262e;
  border-bottom: none;
}

.gjs-pn-panel.gjs-pn-devices {
  padding: 0;
  border-bottom: none;
}

.gjs-pn-views .gjs-pn-btn {
  margin: 0;
  height: 40px;
  padding: 10px;
  width: 25%;
}

.gjs-pn-views .gjs-pn-btn.gjs-pn-active {
  border-bottom: 2px solid $quaternaryColor;
}

.gjs-pn-devices .gjs-pn-btn {
  margin: 0;
  height: 40px;
  padding: 10px;
}

.gjs-pn-devices-buttons {
  display: none;
}

#gjs-mdl-c div .CodeMirror {
  min-height: 450px;
  margin-bottom: 8px;
}

@-webkit-keyframes slide-in {
  100% {
    left: 40px;
  }
}

@keyframes slide-in {
  100% {
    left: 40px;
  }
}

/*
    #gjs {
      position: absolute;
      left: 40px;
      top: 0;
    }

    .gjs-editor {
      width: 100%;
    }*/
/* LOGO VERSION */

.gjs-pn-commands .gjs-pn-buttons,
#gjs-pn-commands .gjs-pn-buttons {
  display: none;
}

.gjs-pn-pipelines-logo {
  width: 42px;
  border-right: 2px solid rgba(0, 0, 0, 0.25);
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
}

.gjs-logo {
  height: 25px;
}

.gjs-logo-cont {
  position: relative;
  display: inline-block;
  top: 3px;
}

.gjs-logo-version {
  position: absolute;
  font-size: 10px;
  padding: 1px 7px;
  border-radius: 15px;
  bottom: 2px;
  right: -43px;
}


/* INFO PANEL */

.gjs-mdl-dialog-sm {
  width: 300px;
}

#info-panel {
  line-height: 17px;
}

.info-panel-logo {
  display: block;
  height: 100px;
  margin: 0 auto;
  width: 80px;
}

.info-panel-logo path {
  stroke: #eee !important;
  stroke-width: 8 !important;
}

.info-panel-label {
  margin-bottom: 10px;
  font-size: 13px;
}

.info-panel-link {
  text-decoration: none;
}

/*Tooltips*/
[data-tooltip] {
  position: relative;
}

[data-tooltip]::after {
  font-family: Helvetica, sans-serif;
  background: rgba(51, 51, 51, 0.9);
  background: rgba(55, 61, 73, 0.9);
  border-radius: 3px;
  bottom: 100%;
  color: #fff;
  content: attr(data-tooltip);
  display: block;
  font-size: 12px;
  left: 50%;
  line-height: normal;
  max-width: 32rem;
  opacity: 0;
  overflow: hidden;
  padding: 0.6rem 1rem;
  pointer-events: none;
  position: absolute;
  text-overflow: ellipsis;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  transition: all 0.216s ease;
  z-index: 99;
}

[data-tooltip]:focus::after,
[data-tooltip]:hover::after {
  opacity: 1;
  -webkit-transform: translate(-50%, -0.5rem);
  -ms-transform: translate(-50%, -0.5rem);
  transform: translate(-50%, -0.5rem);
}

[data-tooltip][disabled],
[data-tooltip].disabled {
  pointer-events: auto;
}

[data-tooltip-pos=right]::after {
  bottom: 50%;
  left: 100%;
  -webkit-transform: translate(0, 50%);
  -ms-transform: translate(0, 50%);
  transform: translate(0, 50%);
}

[data-tooltip-pos=right]:focus::after,
[data-tooltip-pos=right]:hover::after {
  -webkit-transform: translate(0.5rem, 50%);
  -ms-transform: translate(0.5rem, 50%);
  transform: translate(0.5rem, 50%);
}

[data-tooltip-pos=bottom]::after {
  bottom: auto;
  top: 100%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

[data-tooltip-pos=bottom]:focus::after,
[data-tooltip-pos=bottom]:hover::after {
  -webkit-transform: translate(-50%, 0.5rem);
  -ms-transform: translate(-50%, 0.5rem);
  transform: translate(-50%, 0.5rem);
}

[data-tooltip-pos=left]::after {
  bottom: 50%;
  left: auto;
  right: 100%;
  -webkit-transform: translate(0, 50%);
  -ms-transform: translate(0, 50%);
  transform: translate(0, 50%);
}

[data-tooltip-pos=left]:focus::after,
[data-tooltip-pos=left]:hover::after {
  -webkit-transform: translate(-0.5rem, 50%);
  -ms-transform: translate(-0.5rem, 50%);
  transform: translate(-0.5rem, 50%);
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.code-panel {
  text-align: left;
  font-size: 1rem;
  height: 100%;
}

.code-panel section {
  height: 50%;
}

.code-panel section .codepanel-separator {
  display: flex;
  justify-content: space-between;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

.code-panel section .codepanel-label {
  line-height: 20px;
  font-size: 13px;
  color: #aaa;
  user-select: none;
  text-transform: uppercase;
}

.cm-s-hopscotch.CodeMirror {
  background: #21191f;
}

.CodeMirror-gutter {
  background-color: #1e1c21;
  border-right: 1px solid #171616;
}

.gutter {
  cursor: ns-resize;
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
}

.gutter:after {
  content: '';
  display: block;
  height: 8px;
  width: 100%;
  position: absolute;
  top: -3px;
  z-index: 150;
}

.code-panel .CodeMirror {
  height: calc(100% - 20px);
}

.gjs-pn-views {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 0;
}

.gjs-pn-views-container {
  box-shadow: initial;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  top: 40px;
  padding-top: 0;
  height: calc(100vh - 40px);
}

.gjs-pn-views-container,
.gjs-cv-canvas {
  transition: width 0.3s ease-in-out;
}

.gjs-image-block {
  padding: 0px 0px 2px 0px;
  cursor: pointer;
}

.gjs-image-block img {
  width: 100%;
  height: 85%;
  object-fit: contain;
  cursor: move;
}

#gjs-sm-border-top-left-radius,
#gjs-sm-border-top-right-radius,
#gjs-sm-border-bottom-left-radius,
#gjs-sm-border-bottom-right-radius,
#gjs-sm-margin-top,
#gjs-sm-margin-bottom,
#gjs-sm-margin-right,
#gjs-sm-margin-left,
#gjs-sm-padding-top,
#gjs-sm-padding-bottom,
#gjs-sm-padding-right,
#gjs-sm-padding-left {
  flex: 999 1 60px;
}

#gjs-sm-border-width,
#gjs-sm-border-style,
#gjs-sm-border-color {
  flex: 999 1 80px;
}

#gjs-sm-margin-left,
#gjs-sm-padding-left {
  order: 2;
}

#gjs-sm-margin-right,
#gjs-sm-padding-right {
  order: 3;
}

#gjs-sm-bottom,
#gjs-sm-margin-bottom,
#gjs-sm-padding-bottom {
  order: 4;
  margin-left: 25%;
  margin-right: 25%;
}

#gjs-sm-top,
#gjs-sm-margin-top,
#gjs-sm-padding-top {
  margin-left: 25%;
  margin-right: 25%;
}

#gjs-sm-transition-property,
#gjs-sm-label-parent-flex,
#gjs-sm-animation-name,
#gjs-sm-vertical-align {
  width: 100%;
}

/*Deprecated Code Editor*/
/*
#code-editor {
  display: none;
  color: rgba(250, 201, 201, 0.877);
  background-color: #403444ee;
  border: 1px solid rgba(0, 0, 0, 0.25);
  margin-top: 40px;
  position: absolute;
  left: 0;
  top: 0;
  width: 84.97%;
  height: 94%;
  transition: all 0.5s ease-in-out;
  z-index: 4;
}

#fileToLoad::-webkit-file-upload-button {
  visibility: visible;
  color: white;
  border: none;
  border-radius: 4px;
  height: 25px;
  background: #66579be3;
}

#fileToLoad {
  contain: 'Choose a file';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #534458;
  border-radius: 5px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}

#fileToLoad:hover {
  border-color: rgb(75, 73, 73);
}

#fileToLoad:active {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.CodeMirror-vscrollbar::-webkit-scrollbar {
  width: 8px;
}

.CodeMirror-vscrollbar::-webkit-scrollbar-track {
  background: #3f3e3e88
}

.CodeMirror-vscrollbar::-webkit-scrollbar-thumb {
  background: rgb(109, 109, 109);
}

.CodeMirror-vscrollbar::-webkit-scrollbar-thumb:hover {
  background: rgb(92, 92, 92);
}

.modelPopup input[type="text"] {
  height: 20px;
}

.modelPopup {
  z-index: 99999;
  position: fixed;
  top: -20%;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  background-color: #352b38e5;
  padding: 20px;
  height: auto;
  text-align: center;
  border-radius: 5px;
  opacity: 0;
  box-shadow: 0 10px 300px rgba(116, 116, 116, 0.80);
  -moz-box-shadow: 0 10px 300px rgba(116, 116, 116, 0.80);
  -webkit-box-shadow: 0 10px 300px rgba(116, 116, 116, 0.80);
  visibility: hidden;
  transition: all ease-in-out 0.4s;
  -webkit-transition: all ease-in-out 0.4s;
  -moz-transition: all ease-in-out 0.4s;
}

.modelPopup.showup {
  top: 20% !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.gjs-btn-html,
.gjs-btn-css {
  float: right;
}

.gjs-btn-import,
.gjs-btn-zip,
.gjs-btn-export,
.gjs-btn-load,
.gjs-btn-css,
.gjs-btn-html {
  font-size: 13px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

button.exportgram {
  margin-right: 10px;
  padding: 4px 10px;
  height: 30px;
  width: 45%;
  font-size: 15px;
  background: rgba(78, 63, 85, 0.932);
  color: rgb(162, 236, 184);
  border: none;
  border-radius: 5px;
}

button.exportclose.exportgram {
  margin-right: 0px;
  color: #e4697d;
}

input#file_name {
  border-radius: 5px;
  margin-bottom: 10px;
  height: 30px;
  font-size: 15px;
  border: none;
  background-color: #2f2731e1;
  color: rgb(248, 206, 206);
}

.html-wrapper,
.css-wrapper {
  margin-top: 10px;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  width: 48%;
  float: left;
}

.html-wrapper {
  margin-left: 5px;
}

.html-wrapper h4,
.css-wrapper h4 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 4px 0 4px;
}

.clear-head {
  width: 100%;
  clear: both;
}*/