@import "variables.scss";

@font-face {
  font-family: 'font3336';
  src: url('#{$fontPath}/#{$fontName}.eot?v=#{$fontV}');
  src: url('#{$fontPath}/#{$fontName}.woff?v=#{$fontV}') format('woff'),
  //url('#{$fontPath}/#{$fontName}.woff2?v=#{$fontV}') format('woff2'),
  url('#{$fontPath}/#{$fontName}.ttf?v=#{$fontV}') format('truetype'),
  url('#{$fontPath}/#{$fontName}.svg?v=#{$fontV}') format('svg'),
  url('#{$fontPath}/#{$fontName}.eot?v=#{$fontV}') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

/*todo input styling and handling, and fullscreen event*/
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
}

* {
  margin: 0;
}


:root {
  --input-color: #d1cce6;
  --input-border: transparent;
  --input-background: rgba(0, 0, 0, 0.2);
  --input-placeholder: #99a3ba45;

  --input-border-focus: #b14cdf;

  --group-color: var(--input-color);
  --group-border: var(--input-border);
  --group-background: #b14cdf7a;

  --group-color-focus: #fff;
  --group-border-focus: var(--input-border-focus);
  --group-background-focus: #b14cdf;
}

.#{$prefix} {

  @each $cnum,
  $ccol in (one, $primaryColor),
  (two, $secondaryColor),
  (three, $tertiaryColor),
  (four, $quaternaryColor) {
    &#{$cnum} {
      &-bg {
        background-color: $ccol;
      }

      &-color {
        color: $ccol;

        &-h:hover {
          color: $ccol;
        }
      }
    }
  }
}

/*Cubic-Bezier Editor*/
#library>a {
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s;
}

.button {
  padding: .3em .5em;
  border: 0;
  font-size: 50%;
  color: white;
  text-transform: uppercase;
  vertical-align: .25em;
  cursor: pointer;
  border-radius: .3em;
}

.button:hover {
  background: $classColor;
}

.button:focus {
  box-shadow: 0 0 5px 2px $quaternaryColor;
}

.cb-close {
  position: absolute;
  top: 91%;
  left: 10px;
  text-decoration: none;
  color: $secondaryColor;
  font-size: 25px;
}

.cb-ok {
  position: absolute;
  right: 6px;
  top: 92%;
  background: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  color: #ddd;
  text-shadow: none;
  box-shadow: none;
  padding: 3px 5px;
}

.coordinate-background {
  width: 210px;
  height: 350px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background: #221f29;
  position: absolute;
  top: 48%;
  right: 1px;
}

.coordinate-plane {
  position: absolute;
  cursor: crosshair;
  top: 50%;
  right: 3.2%;
  line-height: 0;
  /*margin-left: 20px;*/
}

.coordinate-plane:before,
.coordinate-plane:after {
  position: absolute;
  bottom: 24%;
  left: 0;
  width: 100%;
  padding: .3em .5em;

  -moz-box-sizing: border-box;
  box-sizing: border-box;

  color: #8e87af7a;
  text-transform: uppercase;
  font-size: 75%;
  font-family: $mainFont;
  line-height: 1;
}

.coordinate-plane:before {
  content: 'Progression';

  /*border-bottom: 1px solid rgba(234, 0, 255, 0.3);*/

  -moz-transform: rotate(-90deg);
  -moz-transform-origin: bottom left;
  -ms-transform: rotate(-90deg);
  -ms-transform-origin: bottom left;
  -o-transform: rotate(-90deg);
  -o-transform-origin: bottom left;
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin: bottom left;
  transform: rotate(-90deg);
  transform-origin: bottom left;
}

.coordinate-plane:after {
  content: 'Time';
  border-top: 1px solid rgba(234, 0, 255, 0.3);
  margin-bottom: -1.5em;
}

.coordinate-plane:hover:before {
  content: 'Progression ('attr(data-progression) '%)';
}

.coordinate-plane:hover:after {
  content: 'Time ('attr(data-time) '%)';
}

#saveFunction {
  position: absolute;
  top: 90%;
  right: 5%;
}

.control-point {
  position: absolute;
  z-index: 1;
  height: 10px;
  width: 10px;
  border: 1px solid rgba(0, 0, 0, .3);
  margin: -5px 0 0 -5px;
  outline: none;

  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -moz-border-radius: 10px;
  border-radius: 10px;
}

#P0,
#P3 {
  background: #aaa4aa;
}

#P1,
#P2 {
  cursor: pointer;
}

#P0 {
  left: 0;
  top: 75%;
}

#P1 {
  background: #b14cdf;
}

#P2 {
  background: #b14cdf;
}

#P3 {
  left: 100%;
  top: 25%;
}

#P1x,
#P1y {
  color: #f08;
}

#P2x,
#P2y {
  color: #0ab;
}

canvas#curve {
  /*border: 1px solid #8e87afce;*/
  border-radius: 5px;
  background: #1e16217a;
  background-image: -moz-linear-gradient(rgba(234, 0, 255, 0.1) .05em, transparent .05em), -moz-linear-gradient(90deg, rgba(234, 0, 255, 0.1) .05em, transparent .05em);
  background-image: -ms-linear-gradient(rgba(234, 0, 255, 0.1) .05em, transparent .05em), -ms-linear-gradient(90deg, rgba(234, 0, 255, 0.1) .05em, transparent .05em);
  background-image: -o-linear-gradient(rgba(234, 0, 255, 0.1) .05em, transparent .1em), -o-linear-gradient(90deg, rgba(234, 0, 255, 0.1) .1em, transparent .1em);
  background-image: -webkit-linear-gradient(rgba(234, 0, 255, 0.1) .05em, transparent .05em), -webkit-linear-gradient(90deg, rgba(234, 0, 255, 0.1) .05em, transparent .05em);
  background-image: linear-gradient(rgba(234, 0, 255, 0.1) .05em, transparent .05em), linear-gradient(90deg, rgba(234, 0, 255, 0.1) .05em, transparent .05em);
  background-size: .93em .93em;
  background-position-y: bottom;
  /*background-position: 25%, 0, 0;*/

  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

section#library {
  display: flex;
  flex-direction: column;
  /*margin-left: 180px;
  margin-top: 20px;*/
  position: absolute;
  top: 50%;
  right: 5px;
  z-index: 30;
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
}

section#library::-webkit-scrollbar {
  width: 5px;
}

section#library::-webkit-scrollbar-track {
  background: #3f3e3e88
}

section#library::-webkit-scrollbar-thumb {
  background: rgb(109, 109, 109);
}

section#library::-webkit-scrollbar-thumb:hover {
  background: rgb(43, 43, 43);
}

#library>a {
  position: relative;
  float: left;
  width: 35px;
  margin: 0 0 .1em 0;
  color: #8e87af;
  font-size: 110%;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

}

#library>a>canvas,
#library>a>span {
  -moz-transition: inherit;
  -ms-transition: inherit;
  -o-transition: inherit;
  -webkit-transition: inherit;
  transition: inherit;
}

#library>a>canvas {
  display: block;
  position: relative;
  left: 0;
  background: $classColor;

  border-radius: 5px;
}

#library>a:hover>canvas,
#library>a:focus>canvas {
  background: rgb(207, 159, 197);
}

#library>a>span {
  display: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#library>a:hover>span,
#library>a:focus>span {
  color: rgb(147, 86, 147);
}

#library>a>button {
  display: none;
  position: absolute;
  top: -5px;
  right: -5px;
  background: black;
  font-size: 65%;
  border-radius: 50%;
  box-shadow: 1px 1px 8px -1px black;
}

#library>a>button:hover {
  background: rgb(212, 0, 255);
}

#library>a:hover>button,
#library>a:focus>button {
  display: block;
}

#library>a.selected {
  color: rgb(174, 111, 187);
}

#library>a.selected>canvas {
  background: rgb(188, 123, 201);
}

/*Checkboxes and radio buttons*/
@supports(-webkit-appearance: none) or (-moz-appearance: none) {

  input[type='checkbox'].colored,
  input[type='radio'].colored {
    --active: #b14cdf;
    --active-inner: #fff;
    --focus: 2px rgba(132, 39, 254, 0.3);
    --border: #8e87af;
    --border-hover: #b14cdf;
    --background: rgba(0, 0, 0, 0.2);
    --displayed: #f6f8ff;
    --disabled-inner: #e1e6f9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background .3s, border-color .3s, box-shadow .2s;

    &:after {
      content: '';
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
    }

    &:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2)
    }

    &:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: .9;

      &:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
      }

      &+label {
        cursor: not-allowed;
      }
    }

    &:hover {
      &:not(:checked) {
        &:not(:disabled) {
          --bc: var(--border-hover);
        }
      }
    }

    &:focus {
      box-shadow: 0 0 0 var(--focus);
    }

    &:not(.switch) {
      width: 21px;

      &:after {
        opacity: var(--o, 0);
      }

      &:checked {
        --o: 1;
      }
    }

    &+label {
      font-size: 14px;
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-left: 4px;
    }
  }

  input[type='checkbox'].colored {
    &:not(.switch) {
      border-radius: 7px;

      &:after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        transform: rotate(var(--r, 20deg));
      }

      &:checked {
        --r: 43deg;
      }
    }

    &.switch {
      width: 38px;
      border-radius: 11px;

      &:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--ab, var(--border));
        transform: translateX(var(--x, 0));
      }

      &:checked {
        --ab: var(--active-inner);
        --x: 17px;
      }

      &:disabled {
        &:not(:checked) {
          &:after {
            opacity: .6;
          }
        }
      }
    }
  }

  input[type='radio'].colored {
    border-radius: 50%;

    &:after {
      width: 19px;
      height: 19px;
      border-radius: 50%;
      background: var(--active-inner);
      opacity: 0;
      transform: scale(var(--s, .7));
    }

    &:checked {
      --s: .5;
    }
  }
}

/*Hinted form fields*/
.blc-form-field {
  display: block;
  width: 100%;
  padding: 5px 5px;
  line-height: 1;
  font-size: 14px;
  font-weight: inherit;
  font-family: inherit;
  border-radius: 3px;
  -webkit-appearance: none;
  color: var(--input-color);
  border: 1px solid var(--input-border);
  background: var(--input-background);
  transition: border .3s ease;

  &::placeholder {
    color: var(--input-placeholder);
  }

  &:focus {
    outline: none;
    border-color: var(--input-border-focus);
  }
}

.blc-form-group {
  position: relative;
  display: flex;
  margin-left: 5px;
  margin-top: 2px;
  margin-bottom: 10px;
  margin-right: 5px;
  width: 95%;

  &>span,
  .blc-form-field {
    white-space: nowrap;
    display: block;

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }

    &:first-child {
      border-radius: 3px 0 0 3px;
    }

    &:last-child {
      border-radius: 0 3px 3px 0;
    }

    &:not(:first-child) {
      margin-left: -1px;
    }
  }

  .blc-form-field {
    position: relative;
    z-index: 1;
    flex: 1 1 auto;
    width: 1%;
    margin-top: 0;
    margin-bottom: 0;
  }

  &>span {
    text-align: center;
    padding: 7px 4px;
    font-size: 12px;
    line-height: 1;
    max-width: 50px;
    color: var(--group-color);
    background: var(--group-background);
    border: 1px solid var(--group-border);
    transition: background .3s ease, border .3s ease, color .3s ease;
  }

  &:focus-within {
    &>span {
      color: var(--group-color-focus);
      background: var(--group-background-focus);
      border-color: var(--group-border-focus);
    }
  }
}

.gjs-field:focus-within {
  border: 1px solid var(--group-border-focus);
}

body,
html {
  height: 100%;
  margin: 0;
}

.gjs-three-bg {
  background-color: $classColor;
}

/*
    .icon-add-comp::before, .icon-comp100::before,.icon-comp50::before,.icon-comp30::before,.icon-rm::before{ content: '';}
        .icon-add-comp {
          background: url("./img/icon-sq-a.png") no-repeat center;
        }
        .icon-comp100 {
          background: url("./img/icon-sq-1.png") no-repeat center;
        }
        .icon-comp50 {
          background: url("./img/icon-sq-2.png") no-repeat center;
        }
        .icon-comp30 {
          background: url("./img/icon-sq-3.png") no-repeat center;
        }
        .icon-rm {
          background: url("./img/icon-sq-r.png") no-repeat center;
        }*/

/*Custom Icons*/
.icons-flex {
  background-size: 70% 65% !important;
  height: 15px;
  width: 17px;
  opacity: 0.9;
}

.icon-dir-row {
  background: url("./img/flex-dir-row.png") no-repeat center;
}

.icon-dir-row-rev {
  background: url("./img/flex-dir-row-rev.png") no-repeat center;
}

.icon-dir-col {
  background: url("./img/flex-dir-col.png") no-repeat center;
}

.icon-dir-col-rev {
  background: url("./img/flex-dir-col-rev.png") no-repeat center;
}

.icon-just-start {
  background: url("./img/flex-just-start.png") no-repeat center;
}

.icon-just-end {
  background: url("./img/flex-just-end.png") no-repeat center;
}

.icon-just-sp-bet {
  background: url("./img/flex-just-sp-bet.png") no-repeat center;
}

.icon-just-sp-ar {
  background: url("./img/flex-just-sp-ar.png") no-repeat center;
}

.icon-just-sp-cent {
  background: url("./img/flex-just-sp-cent.png") no-repeat center;
}

.icon-al-start {
  background: url("./img/flex-al-start.png") no-repeat center;
}

.icon-al-end {
  background: url("./img/flex-al-end.png") no-repeat center;
}

.icon-al-str {
  background: url("./img/flex-al-str.png") no-repeat center;
}

.icon-al-center {
  background: url("./img/flex-al-center.png") no-repeat center;
}

.icon-disp-block {
  background: url("./img/disp-block.png") no-repeat center;
}

.icon-disp-inline-block {
  background: url("./img/disp-inline-block.png") no-repeat center;
}

.icon-disp-inline {
  background: url("./img/disp-inline.png") no-repeat center;
}

.icon-disp-flex {
  background: url("./img/disp-flex.png") no-repeat center;
}

.icon-ease {
  background: url("./img/ease.png") no-repeat center;
}

.icon-ease-in {
  background: url("./img/ease-in.png") no-repeat center;
}

.icon-ease-out {
  background: url("./img/ease-out.png") no-repeat center;
}

.icon-ease-in-out {
  background: url("./img/ease-in-out.png") no-repeat center;
}

.icon-linear {
  background: url("./img/linear.png") no-repeat center;
}

/*Left Menu*/
.left-menu-input {
  margin: 3px 5px 10px 5px;
}

.left-menu-label {
  margin-left: 8px;
  font-size: 14px;
}

.save-modal-input {
  margin: 5px 5px 10px 5px;
}

.save-modal-label {
  margin-left: 8px;
  font-size: 16px;
}

.save-modal-preview {
  margin: 5px 5px 10px 5px;
  height: 450px;
  overflow-y: auto;
}

.save-modal-btn {
  margin: 10px 5px 0px 5px;
  float: right;
}

.domain-name {
  color: $quaternaryColor;
  text-align: center;
  margin: 10px;
  font-size: 20px;
  font-weight: 500;
  font-style: bold;
}

.asset-menu-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: #352b38ce;
}

.font-aqua {
  color: #b6e2e5;
}

.font-blue {
  color: #c9a1d1;
}

.font-pale-green {
  color: #d1afc7;
}

.font-green {
  color: #9ee7a8;
}

.font-red {
  color: #ca6868;
}

.font-orange {
  color: #cf9269;
}

.gjs-select optgroup {
  background-color: #3a383f;
  color: white;
}

.gjs-radio-item-label {
  cursor: pointer;
  display: block;
  padding: 5px;
}

.gjs-sm-sector .gjs-sm-gradient {
  width: 100%;
  box-sizing: content-box;
}

.gjs-sm-sectors {
  overflow-x: hidden;
}

.gjs-pn-devices-c {
  visibility: hidden;
}

.gjs-btn-prim {
  background-color: $classColor;
  color: white;
}

.gjs-btn-prim:hover {
  background-color: $quaternaryColor;
}

#save-component {
  margin-right: -200px;
  background-color: transparent;
  border: 1px solid #622a6d;
}

#save-component:hover {
  background-color: $quaternaryColor;
}

.gjs-btn-prim:focus {
  background-color: #2e1433;
}

.cke_dialog_ui_input_select option {
  color: white
}

#left-menu {
  position: absolute;
  left: -44px;
  top: 40px;
  border-right: 1px solid #161616;
  background-color: $primaryColor;
  width: 40px;
  height: 94%;
  transition: all 0.5s ease;
  box-shadow: 0 2px 3px 1px #161616, 0 6px 0px 0px #403444;
  -webkit-box-shadow: 0 2px 3px 1px #161616, 0 6px 0px 0px #403444;
  z-index: 20;
}

#target {
  position: absolute;
  left: 0px;
  top: 45px;
  color: $secondaryColor;
  background-color: #2d26301f;
  border: 1px solid $secondaryColor;
  border-radius: 3px;
  padding: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 5;

  i {
    margin: 2px 2.5px 3px 7px;
  }
}

#target:hover {
  background-color: $primaryColor;
}

/*#left-menu-expanded {
      position: absolute;
      left: 40px;
      top: 40px;
      background-color: rgb(66, 66, 66);
      width: 200px;
      height: 657px;
      z-index: 10;
    }*/

.left-menu-expanded {
  position: absolute;
  left: -224px;
  top: 40px;
  width: 220px;
  height: 94.18938%;
  color: $secondaryColor;
  background-color: $leftMenuColor;
  border-right: 1px solid #161616;
  box-shadow: 0 2px 3px 1px #161616, 0 6px 0px 0px #403444f3;
  -webkit-box-shadow: 0 2px 3px 1px #161616, 0 6px 0px 0px #403444f3;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 10;
  transition: all 0.5s ease;

  /*-webkit-animation: slide-in 0.5s forwards;
      -webkit-animation-delay: 2s;
      animation: slide-in 0.5s forwards;
      animation-delay: 2s;*/
}

.left-menu-expanded span.close.fa.fa-times {
  margin-right: 5px;
}

.left-menu-expanded .gjs-radio-item .gjs-radio-item-label {
  background-color: $leftMenuColor;
}

.left-menu-expanded .gjs-radio-item input:checked+.gjs-radio-item-label {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25) inset;
  color: $quaternaryColor;
  border-bottom: 1.5px solid $quaternaryColor;
}

.left-menu-expanded::-webkit-scrollbar {
  width: 8px;
}

.left-menu-expanded::-webkit-scrollbar-track {
  background: #3f3e3e88
}

.left-menu-expanded::-webkit-scrollbar-thumb {
  background: rgb(109, 109, 109);
}

.left-menu-expanded::-webkit-scrollbar-thumb:hover {
  background: rgb(43, 43, 43);
}

.left-menu-icons {
  margin: 0;
  width: 40px;
  padding: 10px;
  color: $secondaryColor;
}

.left-menu-icons:hover {
  color: $quaternaryColor;
}

.left-menu-icons.gjs-pn-btn.gjs-pn-active {
  color: $quaternaryColor;
  border-left: 2px solid $quaternaryColor;
}

.left.gjs-am-preview-cont {
  cursor: move;
  width: 70%;
}

.left.gjs-am-meta {
  cursor: pointer;
  width: 25%;
}

#left-menu-abs {
  margin-bottom: 15px;
  padding-top: 7px;
  padding-left: 10px;
  width: 100%;
  position: absolute;
  bottom: 5px;
  left: 0px;
  color: $secondaryColor;
}

#left-menu-abs:hover {
  color: $quaternaryColor;
}

#left-menu-abs.gjs-pn-btn.gjs-pn-active {
  color: $quaternaryColor;
}

#left-menu-trans {
  margin-bottom: 50px;
  padding-top: 7px;
  padding-left: 10px;
  width: 100%;
  position: absolute;
  bottom: 5px;
  left: 0px;
  color: $secondaryColor;
}

#left-menu-trans:hover {
  color: $quaternaryColor;
}

#left-menu-trans.gjs-pn-btn.gjs-pn-active {
  color: $quaternaryColor;
}

#left-menu-cls {
  margin-bottom: 0px;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 100%;
  min-height: 10px;
  max-height: 20px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: $secondaryColor;
  background-color: #2b232e;
}

#left-menu-cls:hover {
  color: $quaternaryColor;
}

.menu-header {
  padding-left: 5px;
  color: $secondaryColor;
  font-size: 16px;
  font-weight: bold;
}

/*Breadcrumbs*/
#breadcrumbs {
  position: absolute;
  left: 0px;
  bottom: 0px;
  display: inline-block;
  z-index: 1;
  margin: 0;
  padding: 0;

  .icon {
    font-size: 14px;
  }

  li {
    float: left;
    list-style-type: none;

    a {
      color: whitesmoke;
      display: block;
      background-color: $breadcrumbsColor1;
      /*$quaternaryColor;*/
      text-decoration: none;
      position: relative;
      height: 26px;
      line-height: 26px;
      padding: 0 10px 0 5px;
      text-align: center;
      margin-right: 23px;
    }

    &:nth-child(even) {
      a {
        background-color: $breadcrumbsColor2;
        /*$classColor;*/

        &:before {
          border-color: $breadcrumbsColor2;
          /*$classColor;*/
          border-left-color: transparent;
        }

        &:after {
          border-left-color: $breadcrumbsColor2;
          /*$classColor;*/
        }
      }
    }

    &:first-child {
      a {
        padding-left: 15px;
        /*@include border-radius(4px 0 0 4px);*/
        border-radius: 4px 0 0 4px;

        &:before {
          border: none;
        }
      }
    }

    &:last-child {
      a {
        padding-right: 15px;
        /*@include border-radius(0 4px 4px 0);*/
        border-radius: 0 4px 4px 0;

        &:after {
          border: none;
        }
      }
    }

    a {

      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 0;
        border: 0 solid $breadcrumbsColor1;
        /*$quatenaryColor;*/
        border-width: 13px 10px;
        width: 0;
        height: 0;
      }

      &:before {
        left: -20px;
        border-left-color: transparent;
      }

      &:after {
        left: 100%;
        border-color: transparent;
        border-left-color: $breadcrumbsColor1;
        /*$quatenaryColor;*/
      }

      &:hover {
        background-color: $breadcrumbsHoverColor;
        /*$classColor;*/

        &:before {
          border-color: $breadcrumbsHoverColor;
          /*$classColor;*/
          border-left-color: transparent;
        }

        &:after {
          border-left-color: $breadcrumbsHoverColor;
          /*$classColor;*/
        }
      }

      &:active {
        background-color: $breadcrumbsHoverColor;
        /*$classColor;*/

        &:before {
          border-color: $breadcrumbsHoverColor;
          /*$classColor;*/
          border-left-color: transparent;
        }

        &:after {
          border-left-color: $breadcrumbsHoverColor;
          /*$classColor;*/
        }
      }
    }
  }
}

/*Pages Menu*/
.gjs-title.page {
  padding: 9px 10px 9px 30px;
  background-color: $leftMenuColor;
  border-bottom: 1px solid rgba(31, 31, 31, 0.25);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: $secondaryColor;
}

.gjs-title.page:hover {
  padding: 9px 10px 9px 30px;
  background-color: #5c505f56;
  border-bottom: 1px solid rgba(31, 31, 31, 0.25);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: $quaternaryColor;
}

.gjs-title.project:hover {
  background-color: #5c505f56;
  color: $quaternaryColor;
}

.gjs-title.page.page-open {
  padding: 9px 10px 9px 30px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25) inset;
  border-bottom: 1px solid rgba(31, 31, 31, 0.25);
  border-left: 4px solid $quaternaryColor;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: $quaternaryColor;
}

.page-icon {
  margin-right: 5px;
  font-size: 15px;
}

.close {
  color: $secondaryColor;
  font-size: 15px;
  float: right;
}

.gjs-field.gjs-field-class_select select {
  background-color: rgba(0, 0, 0, 0.2);
}

#extra-tab .gjs-block {
  width: 100%;
  padding: 1px;
  max-height: 120px;
}

.gjs-thumb {
  padding: 0px 0px 2px 0px;
  max-height: 110px;
}

.gjs-thumb img {
  width: 100%;
  height: 100%;
  max-height: 110px;
  object-fit: contain;
}

.gjs-pn-devices {
  margin: 0;
  position: absolute;
  left: 38%;
}

.gjs-pn-panel.gjs-pn-views {
  padding: 0;
  background-color: #29262e;
  border-bottom: none;
}

.gjs-pn-panel.gjs-pn-devices {
  padding: 0;
  border-bottom: none;
}

.gjs-pn-views .gjs-pn-btn {
  margin: 0;
  height: 40px;
  padding: 10px;
  width: 33.3333%;
}

.gjs-pn-views .gjs-pn-btn.gjs-pn-active {
  border-bottom: 2px solid $quaternaryColor;
}

.gjs-pn-devices .gjs-pn-btn {
  margin: 0;
  height: 40px;
  padding: 10px;
}

.gjs-pn-devices-buttons {
  display: none;
}

#gjs-mdl-c div .CodeMirror {
  min-height: 450px;
  margin-bottom: 8px;
}

@-webkit-keyframes slide-in {
  100% {
    left: 40px;
  }
}

@keyframes slide-in {
  100% {
    left: 40px;
  }
}

/*
    #gjs {
      position: absolute;
      left: 40px;
      top: 0;
    }

    .gjs-editor {
      width: 100%;
    }*/

/* LOGO VERSION */

.gjs-pn-commands .gjs-pn-buttons,
#gjs-pn-commands .gjs-pn-buttons {
  display: none;
}

.gjs-pn-pipelines-logo {
  width: 42px;
  height: 40px;
  padding: 0;
  border-right: 2px solid rgba(0, 0, 0, 0.25);
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
}

.gjs-logo {
  height: 28px;
  width: 28px;
}

.gjs-logo-cont {
  position: relative;
  display: inline-block;
  padding: 5px;
  top: 0px;
}

.gjs-logo-version {
  position: absolute;
  font-size: 10px;
  padding: 1px 7px;
  border-radius: 15px;
  bottom: 2px;
  right: -23px;
  background-color: #3e3442;
}


/* INFO PANEL */

.gjs-mdl-dialog-sm {
  width: 300px;
}

#info-panel {
  line-height: 17px;
}

.info-panel-logo {
  display: block;
  height: 100px;
  margin: 0 auto;
  width: 80px;
}

/*
.info-panel-logo path {
  stroke: #eee !important;
  stroke-width: 8 !important;
}*/

.info-panel-label {
  margin-bottom: 10px;
  font-size: 13px;
}

.info-panel-link {
  text-decoration: none;
}

/*Tooltips*/
[data-tooltip] {
  position: relative;
}

[data-tooltip]::after {
  font-family: Helvetica, sans-serif;
  background: rgba(51, 51, 51, 0.9);
  background: rgba(55, 61, 73, 0.9);
  border-radius: 3px;
  bottom: 100%;
  color: #fff;
  content: attr(data-tooltip);
  display: block;
  font-size: 12px;
  left: 50%;
  line-height: normal;
  max-width: 32rem;
  opacity: 0;
  overflow: hidden;
  padding: 0.6rem 1rem;
  pointer-events: none;
  position: absolute;
  text-overflow: ellipsis;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  transition: all 0.216s ease;
  z-index: 99;
}

[data-tooltip]:focus::after,
[data-tooltip]:hover::after {
  opacity: 1;
  -webkit-transform: translate(-50%, -0.5rem);
  -ms-transform: translate(-50%, -0.5rem);
  transform: translate(-50%, -0.5rem);
}

[data-tooltip][disabled],
[data-tooltip].disabled {
  pointer-events: auto;
}

[data-tooltip-pos=right]::after {
  bottom: 50%;
  left: 100%;
  -webkit-transform: translate(0, 50%);
  -ms-transform: translate(0, 50%);
  transform: translate(0, 50%);
}

[data-tooltip-pos=right]:focus::after,
[data-tooltip-pos=right]:hover::after {
  -webkit-transform: translate(0.5rem, 50%);
  -ms-transform: translate(0.5rem, 50%);
  transform: translate(0.5rem, 50%);
}

[data-tooltip-pos=bottom]::after {
  bottom: auto;
  top: 100%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

[data-tooltip-pos=bottom]:focus::after,
[data-tooltip-pos=bottom]:hover::after {
  -webkit-transform: translate(-50%, 0.5rem);
  -ms-transform: translate(-50%, 0.5rem);
  transform: translate(-50%, 0.5rem);
}

[data-tooltip-pos=left]::after {
  bottom: 50%;
  left: auto;
  right: 100%;
  -webkit-transform: translate(0, 50%);
  -ms-transform: translate(0, 50%);
  transform: translate(0, 50%);
}

[data-tooltip-pos=left]:focus::after,
[data-tooltip-pos=left]:hover::after {
  -webkit-transform: translate(-0.5rem, 50%);
  -ms-transform: translate(-0.5rem, 50%);
  transform: translate(-0.5rem, 50%);
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/*Code Editor*/
.code-panel {
  text-align: left;
  font-size: 1rem;
  overflow: hidden;
  height: 100%;
}

.code-panel section {
  height: 50%;
}

.code-panel section .codepanel-separator {
  display: flex;
  justify-content: space-between;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

.code-panel section .codepanel-label {
  line-height: 20px;
  font-size: 13px;
  color: #aaa;
  user-select: none;
  text-transform: uppercase;
}

.cm-s-hopscotch.CodeMirror {
  background: #21191f;
}

.CodeMirror-gutter {
  background-color: #1e1c21;
  border-right: 1px solid #171616;
}

.gutter {
  cursor: ns-resize;
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
}

.gutter:after {
  content: '';
  display: block;
  height: 8px;
  width: 100%;
  position: absolute;
  top: -3px;
  z-index: 150;
}

.code-panel #html-panel .CodeMirror {
  height: calc(100% - 26px);
}

.code-panel #css-panel .CodeMirror {
  height: calc(100% - 25px);
}

.gjs-pn-views {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 0;
}

.gjs-pn-views-container {
  box-shadow: initial;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  top: 40px;
  padding-top: 0;
  height: calc(100vh - 40px);
}

.gjs-pn-views-container,
.gjs-cv-canvas {
  transition: width 0.3s ease-in-out;
}

.gjs-image-block {
  padding: 0px 0px 2px 0px;
  cursor: pointer;
}

.gjs-image-block img {
  width: 100%;
  height: 85%;
  object-fit: contain;
  cursor: move;
}

/*StylesManager Inputs*/
#gjs-sm-border-top-left-radius,
#gjs-sm-border-top-right-radius,
#gjs-sm-border-bottom-left-radius,
#gjs-sm-border-bottom-right-radius,
#gjs-sm-margin-top,
#gjs-sm-margin-bottom,
#gjs-sm-margin-right,
#gjs-sm-margin-left,
#gjs-sm-padding-top,
#gjs-sm-padding-bottom,
#gjs-sm-padding-right,
#gjs-sm-padding-left {
  flex: 999 1 60px;
}

#gjs-sm-border-width,
#gjs-sm-border-style,
#gjs-sm-border-color {
  flex: 999 1 80px;
}

#gjs-sm-margin-left,
#gjs-sm-padding-left {
  order: 2;
}

#gjs-sm-margin-right,
#gjs-sm-padding-right {
  order: 3;
}

#gjs-sm-bottom,
#gjs-sm-margin-bottom,
#gjs-sm-padding-bottom {
  order: 4;
  margin-left: 25%;
  margin-right: 25%;
}

#gjs-sm-top,
#gjs-sm-margin-top,
#gjs-sm-padding-top {
  margin-left: 25%;
  margin-right: 25%;
}

#gjs-sm-transition-property,
#gjs-sm-label-parent-flex,
#gjs-sm-z-index,
#gjs-sm-animation-name,
#gjs-sm-transition-timing-function,
#gjs-sm-animation-timing-function,
#gjs-sm-vertical-align {
  width: 100%;
}

#gjs-sm-animation-iteration-count,
#gjs-sm-perspective,
#gjs-sm-line-height,
#gjs-sm-order {
  width: 75%;
}

#gjs-sm-cursor {
  padding: 0;
}

.gjs-radio-item input:checked+.gjs-radio-item-label {
  background-color: #b14cdf7d;
}

/*PAPERGRAPHER*/
/*styles.css*/
body,
html {
  overflow: hidden;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#paperCanvas {
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

body,
input,
button,
textarea,
label {
  font-size: 14px;
  line-height: 16px;
}

input,
select {
  border: 1px solid #aaa;
  outline: none;
  padding: 0 4px;
  /*height: 22px;*/
  box-shadow: none;
}

.hidden {
  display: none;
}

.loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 1;
  z-index: 200;
  transition: opacity 0.5s ease;
}

.loadingScreen.disabled {
  opacity: 0;
}

.loadingScreen .panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #444;
  height: 31px;
  color: #bbb;
  padding: 0.5em 1.4em;
}

.zoom-in {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.zoom-out {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.grab {
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
}

.grabbing {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.colorInputBlocker,
.menuInputBlocker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 300;
}

.menuInputBlocker {
  z-index: 99;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;

}

input[type=number] {
  -moz-appearance: textfield;
}

select,
.comboSelect {
  height: 22px;
  margin: 0;
  outline: none;
  cursor: pointer;
}

.comboSelect {
  position: absolute;
  right: 0;
  width: 22px;
  padding: 0;
  top: 0;
  background-color: transparent;
  border: 0;
}

select,
.comboSelect,
select::-ms-expand {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('./img/assets/selectButton.png');
  background-repeat: no-repeat;
  background-position: right center;

}

select::-ms-expand {
  display: none;
}

button {
  cursor: pointer;
}

/*reset.css*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  /* line-height: 1; */
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* additional no-select stuff */

html {
  box-sizing: border-box;
}

/*
*,
*:before,
*:after {
  box-sizing: inherit;
}*/

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


input::-ms-clear,
textarea::-ms-clear,
input::-ms-reveal,
textarea::-ms-reveal {
  width: 0;
  height: 0;
}

/*spectrum_override.css*/
.sp-replacer {
  position: absolute;
  border: none;
  padding: 0;
  margin: 0 0 4px 0;
  background-color: transparent;
  display: inline-block;
}

.sp-preview {
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  margin: 0;
  border: 1px solid #aaa;
  border-radius: 2px;
  display: inline-block;
}

.sp-preview-inner {
  border-radius: 1px;
}

.sp-dd {
  display: none;
}

/*
.sp-container {
  border: 1px solid #ddd;
  box-shadow: -2px 2px 4px -2px #bbb;
  background-color: #fff;
}*/

.sp-clear-display {
  background-image: none;
}

.sp-clear.sp-clear-display {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAIAAADZF8uwAAAAGUlEQVQYV2M4gwH+YwCGIasIUwhT25BVBADtzYNYrHvv4gAAAABJRU5ErkJggg==);
  background-repeat: repeat;
  background-position: top left;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.sp-clear-enabled .sp-hue {
  width: 24px;
}

.sp-palette {
  width: 40px;
}

.fillColorSpec {
  z-index: 200;
}

.strokeColorSpec {
  left: 22px;
  top: 20px;
  z-index: 100;
}

.strokeColorSpec .inner {
  background-color: #fff;
  position: absolute;
  top: 7px;
  left: 7px;
  width: 24px;
  height: 24px;
  z-index: 2;
  border: 1px solid #aaa;
  border-radius: 2px;
}

.transSpec .sp-preview {
  height: 18px;
}

.transSpecContainer .sp-top-inner,
.transSpecContainer .sp-fill {
  display: none;
}

/*modal.css*/
.modal.fader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 80;
}

.modal.floater,
.modal>div.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  margin-left: -250px;
  background-color: white;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3);
  padding: 2em;
  border-radius: 2px;
  line-height: 1.6;
}

.modal>div.error {
  color: rgb(255, 50, 91);
}

.modal.floater {
  z-index: 80;
  padding: 1em;
  margin: 32px;
  left: 0;
}

.modal.floater .floaterBody {
  padding-top: 2.2em;
}

.modal.floater header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: #444;
  color: #ddd;
  cursor: move;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}


.modal .okButton {
  position: absolute;
  bottom: 2em;
  right: 2em;
  padding: 0.5em 2em;
}

.modal .closeButton {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
  color: #ddd;
  font-size: 1.7em;
  line-height: 1.2;
  cursor: pointer;
}

.modal .closeButton:hover {
  color: white;
}

.modal>div.form {
  width: 800px;
  margin-left: -400px;
}

.modal p {
  margin: 1em 0;
}

.modal header h2 {
  padding: 0.4em 1em;
}

.modalTitle {
  font-weight: bold;
  margin-bottom: 1em;
}

.modalCloseButton {
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 10px;
  font-size: 2em;
  line-height: 1;
  color: #bbb;
  background-color: transparent;
  cursor: pointer;
}

.modalCloseButton:hover {
  color: black;
}

.modal a {
  color: #888;
  text-decoration: none;
  padding-bottom: 1px;
}

.modal a:hover {
  color: inherit;
  border-bottom: 1px solid black;
}



/* about modal */

.modal .appTitle {
  line-height: 1.2;
  font-size: 2.4em;
  display: inline-block;
}

.modal .versionNumber {
  display: inline-block;
  vertical-align: 1.1em;
  margin-left: 0.8em;
  font-size: 0.9em;
}

/*menu.css*/

.appNav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  z-index: 100;
}


.appNav>.topMenu {
  position: relative;
  background-color: #444;
  width: 100%;
  height: 30px;
}

.appNav .topMenu .burgerButton {
  margin-top: 2px;
  height: 12px;
  width: 12px;
}

.appNav .topMenu .burgerButton line {
  stroke: #bbb;
}

.appNav .topMenu li:hover .burgerButton line {
  stroke: #fff;
}

.appNav .topMenu>li {
  float: left;
  position: relative;
  box-sizing: border-box;
  height: 30px;
  padding: 7px 14px;
  background-color: #fff;
  cursor: default;
  white-space: nowrap;
  background-color: #444;
  color: #bbb;
}

.appNav .topMenu>li.empty {
  color: #777;
}


.appNav .topMenu>li:not(.empty).active,
.appNav .topMenu>li:not(.empty):hover {
  color: #fff;
}

.appNav li.halfWidth {
  display: inline-block;
  width: 45%;
}

.appNav li.halfWidth.left {
  border-right: 1px solid #555;
}

.appNav .subMenu {
  display: none;
  position: absolute;
  z-index: -1;
  top: 30px;
  left: -1px;
  background-color: #444;
  border-top: 2px solid #444;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  max-height: calc(100vh - 40px);
  overflow-y: hidden;
  overflow-x: hidden;
  min-width: 200px;
}

.appNav .subMenu>li {
  position: relative;
  padding: 10px 5px;
  color: #bbb;
  cursor: default;
}

.appNav .subMenu>li:last-child {
  padding-bottom: 14px;

}

.appNav .subMenu>li:not(.title):hover {
  background-color: #444;
  color: #fff;
}

.appNav .subMenu>li.title {
  color: #888;
  font-size: 0.7em;
}

.appNav .subMenu>li.title:not(:first-child) {
  border-top: 1px solid #555;
  margin-top: 1em;
}

.appNav .subMenu>li>.note {
  color: #888;
  font-size: 0.85em;
  display: inline-block;
  margin-left: 1em;
}

.appNav li.space {
  margin: 0;
  padding: 0;
  height: 0;
  border: 0;
  border-top: 1px solid #555;
}

.appNav li:first-of-type.space {
  display: none;
}

.appNav a {
  color: inherit;
  text-decoration: none;
  cursor: default;
}

.fileUploadInput,
.fileURLInput {
  position: absolute;
  left: 0;
  top: 0;
  width: 180px;
  height: 35px;
  opacity: 0;
}


/* sub sub menu */

.subSubMenu {
  display: none;
  position: relative;
  margin: 6px 10px;
}

.subSubMenu.active {
  display: block;
  color: inherit;
}

.appNav .subMenu>li:hover .subSubMenu {
  color: #bbb;
}

.subSubMenu>li {
  position: relative;
  padding: 6px 0;
  font-size: 90%;
  text-transform: none;
}

.subSubMenu>li:hover {
  color: #fff;
}



/* document settings panel */

.documentSettingsContainer {
  position: absolute;
  top: 65px;
  left: 80px;
  width: 400px;
  height: 300px;
  padding: 10px;
  background-color: #ddd;
}

/*toolbar.css*/

.toolbar {
  position: absolute;
  padding: 14px 5px 8px 8px;
  top: 30px;
  left: 0px;
  width: 64px;
  background-color: #fff;
  border-radius: 0 0 3px 0;
  z-index: 20;
  max-height: calc(100vh - 30px);
  overflow-y: auto;
  overflow-x: hidden;
}


.toolbarSection {
  position: relative;
  margin-bottom: 20px;
}


.toolbarSection.extraSpace {
  margin-bottom: 30px;
}

.toolbarSection:last-child {
  margin-bottom: 0;
}


.tool {
  position: relative;
  display: inline-block;
  background-color: #fff;
  line-height: 0;
  text-align: center;
  font-size: 0;
  padding: 0;
  width: 28px;
  height: 28px;
  margin: 0 0 2px 0;
  cursor: pointer;
  border-radius: 3px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 28px;
}

.tool:hover,
.tool.active {
  background-color: #e2e2e2;
}


.colorContainer {
  height: 60px;
}

.colorContainer input {
  display: none;
}

.colorSwitchButton {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  cursor: pointer;
  right: 3px;
  top: 0px;
  background-image: url(./img/assets/icon_switchColor.svg);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 2px;
}


.toolbarLabel {
  top: -18px;
  position: absolute;
  color: #888;
  font-size: 0.85em;
  display: block;
  margin-bottom: 3px;
}

.opacityInput {
  width: 100%;
}


.blendModeSelect {
  width: 100%;
  padding: 0;
}

.strokeInput {
  width: 100%;
}

.strokeButtons {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  height: 22px;
  margin: 0;
  padding: 0;
  vertical-align: bottom;
  line-height: 0;
}


.inputHelper {
  border: 0;
  background-color: transparent;
  margin: 0 0 1px 0;
  width: 21px;
  height: 10px;
  text-align: center;
  padding: 0;
  display: block;
  line-height: 0;
  outline: none;
}


.statusBar {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white;
  border-radius: 3px 0 0 0;
  margin: 0;
  padding: 5px;
  height: 33px;
}

.statusBarSection {
  position: relative;
  display: inline-block;
  margin-left: 1em;
}

.selectionTypeLabel {
  color: #aaa;
}

.selectionTypeLabel:not(.none) {
  color: #009dec;
}

.zoomInput {
  width: 60px;
}

/*toolbarOptionPanel.css*/

.toolOptionPanel {
  position: absolute;
  top: 38px;
  left: 84px;
  background-color: #fff;
  padding: 8px 10px 10px 10px;
  border-radius: 0 0 3px 3px;
  min-width: 90px;
}

.toolOptionPanel .options {
  margin: 0.6em 0 0 0;
  clear: both;
}

.toolOptionPanel .option-section {
  position: relative;
}

.toolOptionPanel .option-section:after {
  content: "";
  display: table;
  clear: both;
  margin-bottom: 0.4em;
}

.toolOptionPanel .titleSection {
  margin-top: 1em;
}

.toolOptionPanel h3 {
  font-size: 0.85em;
  margin: -7px -10px 6px -10px;
  padding: 5px 10px;
  cursor: move;
  color: #999;
  display: inline;
}

.toolOptionPanel h4 {
  font-size: 0.85em;
}

.toolOptionPanel input[type=number] {
  width: 40px;
  margin: 0;
}

.toolOptionPanel input[type=checkbox] {
  margin: 0;
}

.toolOptionPanel input[type=text] {
  width: 100px;
}

.toolOptionPanel input[type=file] {
  width: 87px;
  border: none;
  opacity: 0;
}

.toolOptionPanel label {
  margin-right: 10px;
  display: block;
  float: left;
  line-height: 1.8;
}

.toolOptionPanel label,
.toolOptionPanel input,
.toolOptionPanel select,
.toolOptionPanel button {
  font-size: 0.85em;
}

.toolOptionPanel input,
.toolOptionPanel select {
  text-align: right;
  display: inline-block;
  float: right;
}

.toolOptionPanel .option-section button {
  width: 100%;
}

.toolOptionPanel .toolOptionResetButton {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 9px;
  right: 10px;
  text-align: center;
  padding: 1px;
  line-height: 0;
}

.toolOptionPanel .note,
.toolOptionPanel .warning {
  margin: 1em 0 0 0;
  color: #888;
  font-size: 0.85em;
  max-width: 180px;
}

.toolOptionPanel .warning {
  color: #e4141b;
}

.toolOptionPanel .option-section .fontImportFakeButton {
  position: absolute;
  width: 80px;
  right: 0;
  pointer-events: none;
}

/*layerPanel.css*/
.layerPanel {
  position: absolute;
  top: 0;
  right: 0;
  width: 240px;
  z-index: 100;
  background-color: #444;
  color: #ccc;
}

.layerPanel>header {
  padding: 6px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  cursor: move;
}

.newLayerButton {
  position: absolute;
  right: 8px;
  top: 8px;
  height: 20px;
  padding: 2px 10px;
  font-size: 0.8em;
  line-height: 0;
}

.layerEntries {
  overflow-y: auto;
}

.layerEntry {
  display: table;
  padding: 7px 12px 7px 0;
  width: 96%;
  font-size: 0.9em;
  cursor: move;
  height: 30px;
  border-top: 1px solid #333;
}

.layerEntry:hover {
  background-color: #555;
}

.layerEntry.active {
  background-color: #666;
}

.layerEntry>li {
  display: table-cell;
  vertical-align: middle;
  padding: 0 1em 0 0;
}

.layerEntry>li:last-child {
  padding-right: 0;
  text-align: right;
}


.layerEntry .layerVisSection {
  border-left: 5px solid transparent;
  padding-left: 10px;
}

.layerEntry.active .layerVisSection {
  border-left: 5px solid #009dec;
}

.layerEntry input[type="checkbox"],
.layerEntry input[type="radio"] {
  margin: 4px 0 0 0;
  padding: 0;
}

.layerEntry .layerName input {
  padding: 0.05em 0.5em 0 0.5em;
  font-size: inherit;
  background-color: #444;
  border: none;
  color: inherit;
  width: 100%;
}

.layerEntry .layerName input[disabled] {
  background-color: transparent;
  pointer-events: none;
}

.layerDeleteButton {
  width: 18px;
  height: 18px;
  padding: 2px;
  line-height: 0;
}

.layerEntry .layerActions {
  padding: 0;
  width: 24px;
}

.layerEntry .layerInfo {
  width: 20px;
  padding: 2px 8px;
  cursor: default;
}

/* ADS

.gjs-pn-panel#gjs-pn-views-container,
.gjs-pn-panel.gjs-pn-views-container {
  height: calc(100% - 150px);
}

.ad-cont {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
  width: 15%;
  height: 150px;
}

#carbonads {
  font: caption;
  padding: 20px 10px;
}

.carbon-link {
  text-decoration: none;
  font: caption;
}

.carbon-img {
  float: right;
  margin-left: 10px;
}

.carbon-img img {
  border-radius: 3px;
  max-width: 100px !important;
  max-height: 77px;
}

.carbon-text {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
  font-weight: lighter;
}

.carbon-poweredby {
  color: rgba(255, 255, 255, 0.55);
  text-decoration: none;
  float: right;
}

.carbon-cta-c {
  text-align: right;
  padding-top: 5px;
}

.carbon-cta {
  display: inline-block;
  padding: 4px 10px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 12px;
}

.gjs-block-label svg,
.gjs-block__media svg {
  width: 54px;
} */

/* Temporary fix #2490 
.gjs-clm-tag-status,
.gjs-clm-tag-close {
    width: 12px;
    height: 12px;
}
.gjs-clm-tags-btn {
    width: 24px;
}*/

/*Deprecated Code Editor*/
/*
#code-editor {
  display: none;
  color: rgba(250, 201, 201, 0.877);
  background-color: #403444ee;
  border: 1px solid rgba(0, 0, 0, 0.25);
  margin-top: 40px;
  position: absolute;
  left: 0;
  top: 0;
  width: 84.97%;
  height: 94%;
  transition: all 0.5s ease-in-out;
  z-index: 4;
}

#fileToLoad::-webkit-file-upload-button {
  visibility: visible;
  color: white;
  border: none;
  border-radius: 4px;
  height: 25px;
  background: #66579be3;
}

#fileToLoad {
  contain: 'Choose a file';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #534458;
  border-radius: 5px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}

#fileToLoad:hover {
  border-color: rgb(75, 73, 73);
}

#fileToLoad:active {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.CodeMirror-vscrollbar::-webkit-scrollbar {
  width: 8px;
}

.CodeMirror-vscrollbar::-webkit-scrollbar-track {
  background: #3f3e3e88
}

.CodeMirror-vscrollbar::-webkit-scrollbar-thumb {
  background: rgb(109, 109, 109);
}

.CodeMirror-vscrollbar::-webkit-scrollbar-thumb:hover {
  background: rgb(92, 92, 92);
}

.modelPopup input[type="text"] {
  height: 20px;
}

.modelPopup {
  z-index: 99999;
  position: fixed;
  top: -20%;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  background-color: #352b38e5;
  padding: 20px;
  height: auto;
  text-align: center;
  border-radius: 5px;
  opacity: 0;
  box-shadow: 0 10px 300px rgba(116, 116, 116, 0.80);
  -moz-box-shadow: 0 10px 300px rgba(116, 116, 116, 0.80);
  -webkit-box-shadow: 0 10px 300px rgba(116, 116, 116, 0.80);
  visibility: hidden;
  transition: all ease-in-out 0.4s;
  -webkit-transition: all ease-in-out 0.4s;
  -moz-transition: all ease-in-out 0.4s;
}

.modelPopup.showup {
  top: 20% !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.gjs-btn-html,
.gjs-btn-css {
  float: right;
}

.gjs-btn-import,
.gjs-btn-zip,
.gjs-btn-export,
.gjs-btn-load,
.gjs-btn-css,
.gjs-btn-html {
  font-size: 13px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

button.exportgram {
  margin-right: 10px;
  padding: 4px 10px;
  height: 30px;
  width: 45%;
  font-size: 15px;
  background: rgba(78, 63, 85, 0.932);
  color: rgb(162, 236, 184);
  border: none;
  border-radius: 5px;
}

button.exportclose.exportgram {
  margin-right: 0px;
  color: #e4697d;
}

input#file_name {
  border-radius: 5px;
  margin-bottom: 10px;
  height: 30px;
  font-size: 15px;
  border: none;
  background-color: #2f2731e1;
  color: rgb(248, 206, 206);
}

.html-wrapper,
.css-wrapper {
  margin-top: 10px;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  width: 48%;
  float: left;
}

.html-wrapper {
  margin-left: 5px;
}

.html-wrapper h4,
.css-wrapper h4 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 4px 0 4px;
}

.clear-head {
  width: 100%;
  clear: both;
}*/